.clock {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 350px;
    background: linear-gradient(270deg,#051817,#0e3839);
    color :#06f1f6;
    text-shadow: 1px 1px 7px;
    border: 1px solid silver;
    border-radius: 15px;
    
}
.clock section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.clock section p {
    font-size: 2rem;
}
.clock section small {
  color: silver;
  text-shadow: none;
}